# Book Ratings Data Collection & Cleaning

### Import libraries and datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse

In [34]:
#import raw data
books = pd.read_csv('./data/raw/user_rating_0_to_1000.csv')
books.head(2)

   ID                                               Name          Rating
0   1  Agile Web Development with Rails: A Pragmatic ...  it was amazing
1   1  The Restaurant at the End of the Universe (Hit...  it was amazing

In [35]:
#set 1-5 values for user reviews
books['Rating'].value_counts()

really liked it                      20282
it was amazing                       14108
liked it                             13155
it was ok                             3349
did not like it                        748
This user doesn't have any rating      303
Name: Rating, dtype: int64

In [39]:
books['Rating'].replace('it was amazing', 5, inplace=True)
books['Rating'].replace('really liked it', 4, inplace=True)
books['Rating'].replace('liked it', 3, inplace=True)
books['Rating'].replace('it was ok', 2, inplace=True)
books['Rating'].replace('did not like it', 1, inplace=True)
books['Rating'].replace("This user doesn't have any rating", 0, inplace=True)

In [40]:
books['Rating'].value_counts()

4    20282
5    14108
3    13155
2     3349
1      748
0      303
Name: Rating, dtype: int64

In [41]:
#create book ratings dataframe for app
# https://stackoverflow.com/questions/42350029/assign-a-number-to-each-unique-value-in-a-list
book_names = books['Name']
dictionary = {i: indi for indi, i in enumerate(set(book_names))}
numbers = [dictionary[n] for n in book_names]
books['book_id'] = numbers
books.sort_values(by=['book_id'])

        ID                                               Name  Rating  book_id
44309  868                                           The Test       5        0
33471  617  I Don't Want to Talk About It: Overcoming the ...       5        1
50995  951                                  El Libro de Arena       4        2
32183  592                                   The Tuscan Child       4        3
40059  751  French Women for All Seasons: A Year of Secret...       4        4
...    ...                                                ...     ...      ...
40566  768                        Crucible (Sigma Force, #14)       3    24089
25452  441          Just One Evil Act (Inspector Lynley, #18)       4    24090
48062  913                                      Lancha rápida       3    24091
48914  923    No society: El fin de la clase media occidental       2    24092
47088  897                               Inside Steve's Brain       3    24093

[51945 rows x 4 columns]

In [45]:
#create recommender dataframe
recommender_df = books[['book_id', 'Name', 'ID', 'Rating']]
recommender_df.rename(columns={'ID': 'user_id', 'Name': 'book_name', 'Rating': 'rating'}, inplace=True)
#reorder for streamlit app
recommender_df = recomender_df[['book_name', 'book_id', 'user_id', 'rating']]

In [46]:
recommender_df.head(2)

                                           book_name  book_id  user_id  rating
0  Agile Web Development with Rails: A Pragmatic ...     2232        1       5
1  The Restaurant at the End of the Universe (Hit...     6997        1       5

In [48]:
#export dataframe
recommender_df.to_csv('./data/clean/books_df.csv')