# Music Recommender Data Collection

#### Import Libraries and Data

In [1]:
import numpy as np
import pandas as pd
import sqlite3 as sql

Note: Data collected from Pitchfork Reviews (Kaggle)
https://www.kaggle.com/nolanbconaway/pitchfork-data

In [2]:
#import from sql
db = sql.connect('./data/raw/pitchfork_reviews.sqlite')

In [3]:
#import scores data from sql
scores = pd.read_sql('SELECT reviewid, score, title, artist, url FROM reviews', db)
scores.head(1)

,reviewid,score,title,artist,url
0,22703,9.3,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...

In [4]:
#import content data from sql
content = pd.read_sql('SELECT reviewid, content FROM content', db)
content.head(1)

   reviewid                                            content
0     22703  “Trip-hop” eventually became a ’90s punchline,...

In [5]:
#import genre data from sql
genres = pd.read_sql('SELECT reviewid, genre FROM genres', db)
genres.head(1)

   reviewid       genre
0     22703  electronic

In [6]:
#import year data from sql
year = pd.read_sql('SELECT reviewid, year FROM years', db)
year.head(1)

   reviewid    year
0     22703  1998.0

#### Create merged dataframe with all music review data

In [7]:
#merge all data on reviewid
merged = pd.merge(scores, content, on='reviewid')
merged2 = pd.merge(merged, genres, on='reviewid')
merged3 = pd.merge(merged2, year, on='reviewid')

In [8]:
merged3.shape

(23633, 8)

In [9]:
merged3.head(1)

,reviewid,score,title,artist,url,content,genre,year
0,22703,9.3,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,"“Trip-hop” eventually became a ’90s punchline,...",electronic,1998.0

In [10]:
#check for missing values
merged3.isnull().sum()

reviewid       0
score          0
title          0
artist         0
url            0
content        0
genre       2465
year         524
dtype: int64

In [11]:
merged3.shape

(23633, 8)

In [12]:
#drop any null values or duplicates

In [13]:
merged3.dropna(subset=['artist'], inplace=True)
merged3.dropna(subset=['title'], inplace=True)
merged3.dropna(subset=['content'], inplace=True)

In [14]:
merged3.drop_duplicates(subset=['content'], inplace=True)
merged3.dropna(axis=0, subset=['content'], inplace=True)

In [15]:
#export to csv
merged3.to_csv('./data/clean/pitchfork.csv', index=False)