# Board Game Ratings Data Collection & Cleaning

### Import libraries and datasets

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Data available at:
    https://www.kaggle.com/jvanelteren/boardgamegeek-reviews

In [2]:
#import raw data - 1st csv
games = pd.read_csv('./data/raw/games_detailed_info.csv', index_col=0)
games.rename(columns={'id':'ID'}, inplace=True)
games.head(2)

,type,ID,thumbnail,image,primary,alternate,description,yearpublished,minplayers,maxplayers,...,War Game Rank,Customizable Rank,Children's Game Rank,RPG Item Rank,Accessory Rank,Video Game Rank,Amiga Rank,Commodore 64 Rank,Arcade Rank,Atari ST Rank
0,boardgame,30549,https://cf.geekdo-images.com/thumb/img/HEKrtpT...,https://cf.geekdo-images.com/original/img/j-pf...,Pandemic,"['EPIZOotic', 'Pandemia', 'Pandemia 10 Anivers...","In Pandemic, several virulent diseases have br...",2008,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,boardgame,822,https://cf.geekdo-images.com/thumb/img/kqE4YJS...,https://cf.geekdo-images.com/original/img/o4p6...,Carcassonne,"['Carcassonne Jubilee Edition', 'Carcassonne: ...",Carcassonne is a tile-placement game in which ...,2000,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
columns_to_drop = ["boardgameintegration", "boardgamecompilation", "Party Game Rank", 
"Abstract Game Rank", "Thematic Rank", "War Game Rank", "Customizable Rank", 
"Children's Game Rank", "RPG Item Rank", "Accessory Rank", "Video Game Rank", 
"Amiga Rank", "Commodore 64 Rank", "Arcade Rank", "Atari ST Rank", "Family Game Rank", 
"Strategy Game Rank", "boardgameartist", "boardgameimplementation", "boardgameexpansion", 
"boardgamefamily", "alternate", "stddev", "owned", "trading", "wanting", "wishing", "numcomments",
"numweights", "averageweight", "suggested_playerage", "suggested_language_dependence",
"boardgamecategory", "bayesaverage", "Board Game Rank", "median", "boardgamedesigner",
"yearpublished", "thumbnail", "image", "boardgamemechanic", "type", "primary", "suggested_num_players",
"boardgamepublisher", "minplaytime", "maxplaytime", 'minage', 'description']
games.drop(columns=columns_to_drop, inplace=True)

In [4]:
#import raw data - 2nd csv
games_2 = pd.read_csv('./data/raw/bgg-15m-reviews.csv', index_col=0)

C:\ProgramData\Miniconda3\envs\spacy_capstone\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
#anonymize data using Label Encoder
#modified from: https://stackoverflow.com/questions/48008334/anonymize-specific-columns-with-pii-in-pandas-dataframe-python
label_encoder = LabelEncoder()
games_2['user'] = games_2['user'].astype(str)
user_anonymzed = label_encoder.fit(games_2['user']).transform(games_2['user'])
games_2['user'] = user_anonymzed

In [6]:
games_2.head(2)

,user,rating,comment,ID,name
0,162393,10.0,NaN,30549,Pandemic
1,282186,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic

In [7]:
#create merged dataframe
games_df = pd.merge(games_2, games, on='ID')

In [8]:
games_df.head(3)

,user,rating,comment,ID,name,minplayers,maxplayers,playingtime,usersrated,average
0,162393,10.0,NaN,30549,Pandemic,2,4,45,96241,7.61567
1,282186,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic,2,4,45,96241,7.61567
2,188488,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic,2,4,45,96241,7.61567

In [9]:
games_df.shape

(15819461, 10)

In [10]:
#take smaller sample size to use in streamlit app
games_df_subset = games_df.sample(n=5_000_000, replace=False)

In [11]:
#export to csv
games_df_subset.to_csv('./data/clean/games_df.csv')